@use './colors' as *;

.container {
	width: min(calc(100% - 40px), 1240px);
	margin-inline: auto;
}

.btn {
	font-family: Inter, 'sans-serif';
	font-weight: 600;
	line-height: 150%;
	padding: 16px 32px;
	border-radius: 12px;
	background-color: $btn;
	color: $btn-text;
	transition: background-color 0.3s, color 0.3s;
	&:hover {
		background-color: $btn-hover;
		color: $btn-text-hover;
	}
}

.btn-index {
	padding: 1em 2em;
	border: 2px solid $btn-index;
	border-radius: 0.75em;
	background-color: $btn-index;
	transition: background-color 0.3s;
	&--block {
		display: block;
		width: max-content;
	}
	&:hover {
		background-color: transparent;
	}
}

.hamburger {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-evenly;
	border: none;
	height: 32px;
	width: 32px;
	background-color: transparent;
	cursor: pointer;
	&__line {
		border-radius: 2px;
		height: 2px;
		width: 100%;
		background-color: $hamburger;
	}
}

@media (min-width: 576px) {
	.container {
		width: min(calc(100% - 80px), 1240px);
	}
}

